body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  //max-width: 1280px;
  margin: 0 auto;
}

.navbar {
  float: left;
  width: 271px;
  background-color: #2b2f3e;
  position: fixed;
  top: 0;
  bottom: 0;
}